.header__left
  .header__title
    = link_to '掲示板', root_path, class:"header__title-link"
  .header__search
    = form_tag(search_posts_path, method: :get) do
      = text_field_tag :search
      = submit_tag '検索', name: :nil



    -# = form_for to_s do |f|
    -#   = f.search_field :title, placeholder:"キーワードを入力", class:'header__search-placeholder'
    -#   = f.button icon("fa", "search", class:"icon"), class:"header__search-btn"



.header__right
  - if user_signed_in?
    = link_to '新規投稿', new_post_path, class: "header__right__link-left"
    = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header__right__link-right"
  - else
    = link_to 'ユーザー登録', new_user_registration_path, class: "header__right__link-left"
    = link_to 'ログイン', new_user_session_path, class: "header__right__link-right"

    

