.showpost
  .showpost_title
    =@post.title
  -if user_signed_in? && current_user.id == @post.user_id
    .showpost_edit
      = link_to "編集", edit_post_path(@post.id), class:"showpost_edit-link"
    .showpost_destroy
      = link_to "削除", post_path(@post.id), method: :delete, class:"showpost_destroy-link"
  .showpost_category
    カテゴリー：
    - @post.categories.each do |category|
      .showpost_category_name
        = category.name
  .showpost__name
    =@post.user.nickname
  .showpost_day
    =@post.created_at
  .showpost_text
    = simple_format @post.content

  .comments
    - if @comments
      - @comments.each do |comment|
        %p
        %strong
          = link_to comment.user.nickname, "/users/#{comment.user_id}"
          ：
        = comment.text

  .container
  - if current_user
    = form_with(model: [@post, @comment], local: true) do |f|
      = f.text_area :text, placeholder: "コメントする", id: "container-placeholder"
      = f.submit "投稿する", id: "container-submit"
  - else
    %strong 
      %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※